<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <br>
  {{#each comments as |reply|}}
  <h5>{{reply.comment}}</h5>
  {{/each}}
  <hr>
  {{#if loggedIn}}
  <form>
    <input id="reply_body" data-postId="{{id}}" placeholder="reply placeholder"></input><br><br>

    <button id="reply-Btn">Send</button>

  </form>

  <script src="/JS/reply.js"></script>
  {{/if}}
</div>